<ion-content padding>
  <div class="login-contant">
    <h1 color="primary" text-center>Create New Account </h1>
    <form #f="ngForm" (ngSubmit)="signupSubmit()" padding novalidate>
      <ion-label class="input-label " margin-top> Email </ion-label>
      <span>
        <ion-icon class="i" name="contact"></ion-icon>
        <ion-input name="password" [(ngModel)]="user.email" placeholder="Email" class="login-input" id="email"
          name="userEmail" required></ion-input>
      </span>
      <ion-label class="input-label " margin-top>Password</ion-label>
      <span>
        <ion-icon class="i" name="lock"></ion-icon>
        <ion-input placeholder="Password" [(ngModel)]="user.password" name="userPassword" class="login-input"
          type="password" id="userPassword" required minlength="6"></ion-input>
      </span>
      <ion-button type="submit" expand="full" text-center shape="round" margin-top strong>sign up </ion-button>
    </form>
  </div>
  <div text-center>
    <a href="#" [routerLink]="['/login']" color="primary"> login </a>
  </div>
</ion-content>